<h2>server</h2>
<p>this is id {{ serverId }} and status is {{ serverStatus }}</p>


<div class="container">
    <div class="row">
        <label for="">Server Name</label>
        <input type="text" class="form-control" (input)="onUpdateServerName($event)">
        <p>{{ servername }}</p>

        <div class="col-xl-12">
            <button class="btn btn-primary" [disabled]="!run" (click)="onCreateServer()" >Add Server</button>
            <p>{{ serverCreationStatus }}</p>
    </div>
  </div>
</div>
  <hr><hr>
  <!--Two Way Binding-->
  <div class="container">
    <div class="row">
        <div class="col-xl-12"></div>
        <label for="">UserName</label>
        <input type="text" class="form-control" [(ngModel)]="username"  >
        <p>{{ username }}</p>
        <button class="btn btn-primary" [disabled]="username ===''" (click)="username =''" >Reset User</button>      
    </div>
  </div>
<br><br>
   <!--Assignment3-->
   <div class="container">
    <div class="row">
        <div class="col-xl-12"></div>
        <h1 for="">Assignment-3</h1>
        <br>
        
       <!--<button class="btn btn-primary" (click)="showSecret = !showSecret">Display
Details</button>-->
<button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
<p *ngIf="showSecret">Secret Password = Nish</p>
<div
*ngFor="Let logItem of log"
[ngStyle)="{backgroundColor: logItem >= 5 ? 'blue': 'transparent')."
IngClass}="{'white-text': logItem >= 5)"
>{{ logItem }}</div>
</div>
</div>

